.App {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 15px;
}
li {
  list-style-type: none;
  align-items: center;
}
